
.content{
  display: flex;
  margin-top: 20px;
  flex-direction: column;

  .title{
    margin: 20px;
    font-weight: 500;
  }

  .input-group{
    padding: 10px;

    .form-select{
      padding: 10px;
    }
  }
}

