<div class="content">
  <div class="title">Курси валют</div>
    <div class="input-group mb-3">
      <app-input-form 
      class="form-control" 
      [(ngModel)]="inputOne" 
      (input)="InputFrom()"
      ></app-input-form>
      <app-select-currency 
      class="form-select" 
      [value]='to'
      (onChangeValue)="setCurrencyOne($event)"
      ></app-select-currency>
    </div>
    <div class="input-group mb-3">
      <app-input-form 
      class="form-control" 
      [(ngModel)]="inputTwo" 
      (input)="InputTo()"
      ></app-input-form>
      <app-select-currency 
      class="form-select" 
      [value]='from'
      (onChangeValue)="setCurrencyTwo($event)"
      ></app-select-currency>
    </div>
</div>

