.header{
  background-color: bisque;
  height: 300px;
}

.middle-content{
  background-color:burlywood;
  height: 500px;
}

.header-content{
  margin-left: 10%;
  margin-top: 5%;
}

.content{
  margin-left: 5%;
  margin-top: 5%;
}
